.pricing {
  margin-top: 5rem;
}

.pricing__title {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-family: "Source Code Pro", monospace;
}

.pricing__box {
  background-color: black;
  color: white;
  padding: 2rem;
  border-radius: 6px;
  margin-top: 1rem;
}

.pricing__box--0margin {
  margin: 0;
}

.pricing__box__title {
  font-size: 1.125rem;
}

.pricing__description1 {
  font-size: 0.75rem;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 2.5rem;
}

.pricing__description2 {
  font-size: 0.75rem;
  font-family: "Source Code Pro", monospace;
  color: #888;
  margin-bottom: 1rem;
}

.pricing__btn {
  font-size: 0.75rem;
}

/* media-queries */
/* xs */
@media (min-width: 475px) {
  .pricing__title {
    font-size: 0.875rem;
  }

  .pricing__box__title {
    font-size: 1.25rem;
  }

  .pricing__description1,
  .pricing__description2 {
    font-size: 0.875rem;
  }

  .pricing__btn {
    font-size: 0.875rem;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .pricing__grid-container {
    display: grid;
    grid-template-areas:
      "css css css jav"
      "rea rea nex nex";
    gap: 1rem;
  }
  .pricing__box {
    margin-top: 0;
  }
  .pricing__box--css {
    grid-area: css;
  }

  .pricing__box--jav {
    grid-area: jav;
  }

  .pricing__box--rea {
    grid-area: rea;
  }

  .pricing__box--nex {
    grid-area: nex;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
